@media(min-width:1024px){
    .hide-on-pc{
        display:none;
    }
}

@media(min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet{
        display:none;
    }
    .banner-backgroun-image{
        background-position: center center;
    }

    .content-about-inner{
        top: 35%;
    }

    .content-about-inner-title{
        width:100%;
    }
    .content-events-slides-item{
        display: block;
    }
    .content-events-slides-item-inner__a-link{
        position: unset;
        margin-top: 12px;
        margin-bottom: 30px;
    }
    .content-events-slides-item-image > img{
        width: 100%;
    }
    .content-events-slides-icon.icon-right{
        right: 10px;
    }
    .content-events-slides-icon.icon-left{
        left:10px
    }

    .awesome-thumbnail > img{
        width: 100%;
    }
    .content-special-sliders{
        overflow: hidden;
    }

    .content-special-sliders .row {
        flex-wrap: unset;
    }

    .content-events-slides-icon.icon-left-special{
        left: 10px;
    }

    .content-events-slides-icon.icon-right-special {
        right: 10px;
    }

    .footer-adress{
        margin-top: 50px;
    }
    .footer-socials{
        margin-top:50px
    }
    .footer-nav-bar{
        margin-top: 45px
    }

    .footer-nav-bar > ul,   .footer-nav-bar > ul >li{
        display: flex;
        align-items: center;
        justify-content:center;
    }

    .footer-nav-bar > ul > li > a{
        font-family: var(--font-text);
        color: var(--text-color);
        font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    }

    .footer-nav-bar-line{
        background: var(--text-color);
        width: 1px;
        height: 18px;
        margin-left: 11px;
        margin-right: 16px;
    }
    
}
@media(max-width: 739px){
    .hide-on-mobile{
        display: none;
    }   

    .header-nav-bar{
        height:44px;
    }
    .header-nav-bar-wrap{
        margin: 7px 0 0 0;
    }

    .header-search {
        margin-right: 12px;
    }

    .header-search-input{
        display:flex;
        justify-content:center;
        align-items:center;
        gap: 15px;
    }
   
    .logo{
        width: 121px;
        height: 84px;
    }

    .banner-backgroun-image{
        height:761px;
        background-position: center center;
    }

    .banner-inner{
        bottom:48px;
    }

    .banner-inner-title > span:first-child{
        font-weight: 400;
        font-size: 24px;
        line-height: 115.3%;
    }
    .banner-inner-title > span:last-child{
        font-weight: 400;
        font-size: 24px;
        line-height: 115.3%;
    }
    .banner-inner-text-mb{
        /* width:284px; */
        margin: 12px auto 0 auto;
    }

    .banner-inner-text-mb  >p{
        font-family: var(--font-text);
        color: var(--text-color);
        font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    }

    .banner-inner-a{
        gap: 10px;
    }

    .banner-inner-a > div{
        width:135px;
        padding: 11px 16px 11px 16px;
    }

    .more-event > a{
        font-size: 11px;
        line-height: 18px;
    }

    .detail > a {
        font-size: 12px;
        line-height: 18px;
    }

    .container-img-about-1{
        /* height:212px */
    }

    .container-img-about-2{
        /* height: 245px; */

    }

    .img-about-1{
        margin: 0;
    }

    .img-about-1 > img {
        width: 100%;  
        
    }

    .img-about-2{
        position:unset;
        margin-left: auto;
        margin-top: 130px;
    }
    

    .img-about-2 > img{
        width:100%;
        margin-top: 0
    }   

    .content-about{
        padding:0;
    }

    .content-about-inner{
        top: 28%;
        transform: unset;
        left:unset;
    }

    .content-about-inner-title{
        width:100%;
    }

    .content-about-inner-title > h2{
        font-size: 32px;
    }

    .content-about-inner-title > div > h2{
        font-size:32px
    }

    .content-about-inner-text-wrap{
        margin: auto 20px;
    }

    .content-about-inner-text{
        margin-top: 40px;
    }

    .content-about-inner-text-1, .content-about-inner-text-2{
        width: 249px
    }

    .content-about-inner-text-1 > p{
        font-size: 14px;
        line-height:18px;
    }
    .content-about-inner-a__link > a > p{
        font-size:12px;
        line-height:18px;
    }

    .content-events-title{
        margin-left: 24px;
    }

    .content-events-title > h2{
        font-size:24px;
    }

    .content-events-slides{
        margin: 30px 20px 0;
    }

    .content-events-slides-item{
        display: block;
    }

    .content-events-slides-item-image > img{
        width: 100%;
    }


    .content-events-slides-icon.icon-left, .content-events-slides-icon.icon-right{
        top: 40%;
    }

    .content-events-slides-item-inner{
        margin: 12px 16px 0
    }

    .content-events-slides-item-innner-title{
        margin-top:4px;
    }

    .content-events-slides-item-inner-text{
        margin-top: 16px;
    }

    .content-events-slides-item-inner-tag >span{
        font-size: 12px;
        line-height: 16px;
    }

    .content-events-slides-item-innner-title > h4{
        font-size: 12px;
        line-height: 16px;
    }

    .content-events-slides-item-inner-text > p{
        font-size: 14px;
        line-height: 18px;
    }

  
    .line{
        width: 100px
    }

    .content-awesome{
        margin-top:60px
    }

    .content-awesome-title{
        margin-left:20px;
    }

    .content-awesome-title > h2{
        font-size:24px;
    }
    .content-awesome-title > div > h2{
        font-size:24px
    }

    .content-special-sliders{
        margin-left:20px
    }

    .content-special-sliders .row{
        flex-wrap: unset;
        gap: 22px;
    }
    
   .content-special-title {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

    .content-special-title > h2{
        font-size:24px;
        margin-left: 18px;
    }

    .content-speical-sliders-item-img > img{
       height: 266px;
    }

    .content-special-sliders-item-tag > span{
        font-size: 18px;
        margin-left: 9px;
    }

    .content-speical-sliders-item-inner{
        margin-top: 32px;
    }

    .content-special-sliders-item-inner-title > h2{
        font-weight: 600;
font-size: 14px;
line-height: 21px;
    }

    .content-special-sliders-item-inner-text > p{
        margin-top: 12px;
font-size: 14px;
line-height: 18px;
    }

    .content-special-slides-item-inner__a-link{
        margin-top:12px;
    }

    .content-special-slides-item-inner__a-link > a{
        font-size: 12px;
    }

    .content-anything{
        margin-top:70px;
    }

    .content-anything-wrap{
        margin: 0 20px;
    }

    .content-anything-title > div >h2, .content-anything-title >h2{
        font-size: 24px;
    }

    .content-anything-inner-title-question > p{
        font-weight: 500;
font-size: 10px;
line-height:15px
    }

    .content-anything-inner-search-input{
        padding: 11px 16px;
    }

    .content-anything-inner-search-input > input::placeholder{
        font-size: 12px;
        line-height: 16px;
        text-transform: lowercase;
        letter-spacing: unset;
    }

    .content-anything-inner-search-input > a >img{
        width: 12px;
        height: 12px;
    }

    .form-contact{
        margin: 0 20px;
        padding-left: 0 40px;
    }

    .form-contact-title{
        font-size: 24px;
        line-height: 32px;;
    }

    .form-contact > div{
        margin-top: 15px;
    }
    .form-contact-btn > p{
        font-size: 12px;
        line-height:18px;
    }

    .footer{
        padding: 35px 20px;
    }

    .footer-adress-title{
        margin-top: 60px;
        text-align: center;
        font-style: normal;
        font-size: 24px;
    }

    .footer-adress > ul > li{
        display: flex;
       
    }

    .footer-adress > ul > li > span:first-child{
        font-size: 12px;
        line-height:23px;
    }

    .footer-adress > ul > li > span:last-child{
        font-size: 12px;
        line-height:18px;
        font-weight: 700;
    }
    .footer-adress > div{
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-top: 15px;
    }
    
    .footer-adress > div > ul:first-child > li{
        font-family: var(--font-text);
        color: var(--text-color);
        font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-align: right;
    }

    .footer-adress > div > ul:first-child > li:nth-child(2){
        margin-top:20px
    }

    .footer-adress > div > ul:last-child >li:nth-child(2){
        margin-top:10px
    }

    .footer-adress > div > ul:last-child >li:nth-child(3){
        margin-top:5px;
    }

    .footer-adress > div > ul:last-child >li{
        font-family: var(--font-text);
        color: var(--text-color);
        font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-align: left;
    }

    .footer-socials-title{
        font-size: 24px;
        font-style: normal;
        text-align: center;
        margin-top:40px
    }
    .footer-socials > ul{
        justify-content: center;
        gap: 25px;
    }

    .footer-nav-bar{
        margin-top: 45px
    }

    .footer-nav-bar > ul,   .footer-nav-bar > ul >li{
        display: flex;
        align-items: center;
        justify-content:center;
    }

    .footer-nav-bar > ul > li > a{
        font-family: var(--font-text);
        color: var(--text-color);
        font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    }

    .footer-nav-bar-line{
        background: var(--text-color);
        width: 1px;
        height: 18px;
        margin-left: 11px;
        margin-right: 16px;
    }
    
}